body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;

    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  overflow: hidden;

  width: 100%;
  max-width: 1920px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;
  .logo {
    padding-top: 30px;
    img {
      max-width: 100%;
    }
  }
  .slogan {
    font-size: 13px;

    padding-top: 25px;
  }
  .catalog_load {
    //display: inline-block;
    //height: 100%;
    padding-top: 25px;
    a {
      font-weight: bold;

      display: inline-block;

      padding: 12px 25px;

      text-align: center;

      color: $gray-dark;
      background-color: #fff;
    }
  }
  .phone {
    position: relative;

    display: inline-block;

    padding-top: 25px;
    .tel {
      font-size: 22px;
      font-weight: 700;

      position: relative;
      z-index: 3;

      display: inline-block;
      float: right;

      width: 100%;
      //max-width: 230px;
      margin: auto 0 20px auto;

      text-align: center;

      color: $gray-dark;
    }
    .callback {
      font-size: 16px;
      font-weight: 700;

      position: relative;
      z-index: 3;

      display: inline-block;
      float: right;

      width: 100%;
      //max-width: 230px;
      margin: auto 0 20px auto;
      padding: 10px 15px;

      text-align: center;
    }
  }
}


.video_wrapp {
  iframe {
    display: inline-block;

    height: 40vw;
  }
}

//HEADER MENU
.nav__header {
  position: relative;

  display: inline-block;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  background: #000;
  .headnav {
    font-size: 15px;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    //text-align: center;

    flex-flow: row nowrap;
    justify-content: space-between;
    li {
      display: inline-block;
      //width: 350px;
      //margin: 0 auto;

      text-align: center;
      a {
        display: inline-block;
        float: none;

        margin: 0 auto;
        padding: 24px 0;

        transition: all $base-duration;
        text-align: center;
        text-transform: uppercase;

        color: #fff;
        border-bottom: 3px solid transparent;
        &:hover {
          text-decoration: none;

          border-color: $red;
        }
      }
      &.current-menu-item {
        a {
          border-color: $red;
        }
      }
    }
  }
}


//tabs
.tabs {
  .tabs__caption {
    //display: inline-block;
    //width: 100%;
    margin-bottom: 50px;
    .tab__label {
      .label {
        padding: 15px;

        cursor: pointer;
        transition: all $base-duration;
        text-align: center;

        color: $gray-dark;
        border: 1px solid #969696;
        background: #f2f4f5;
        &:hover {
          color: #fff;
          border-color: $red;
          background: $red;
        }
      }
      &.active {
        .label {
          color: #fff;
          border-color: $red;
          background: $red;
        }
      }
    }
  }
  .tabs__content {
    transition: opacity .5s;

    opacity: 1;
    &:not(.active) {
      position: absolute;
      z-index: -1;
      top: 0;
      //visibility: hidden;
      right: 0;
      left: 0;

      overflow: hidden;

      height: 0;

      opacity: 0;
    }
  }
}


.slides-content {
  .ithem {
    position: relative;
    .slide-cont_wrapp {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: none;
      display: -webkit-flex;
      display:    -moz-flex;
      display:     -ms-flex;
      display:      -o-flex;
      display:         flex;

      cursor: grab;

      background: transparent;

      align-items: center;
      justify-content: center;
      .slide-cont {
        display: inline-block;

        width: 85%;
        //top: 20%;
        //left: 5%;
        //margin-left: 5%;
        //height: 60%;
        padding: 35px;

        transition: all .15s;
        //position: absolute;

        opacity: 0;
        border-bottom: 2px solid $red;
        background: rgba(#fff, .8);
        h3 {
          font-weight: bold;
        }
      }
      &:hover {
        .slide-cont {
          opacity: 1;
        }
      }
    }
  }
}

.four-slides,
.two-slides {
  .owl-nav {
    //position: absolute;
    //top: 35px;
    //right: 0;
    //left: 0;
    //height: 0;
    .owl-prev,
    .owl-next {
      position: relative;
      //top: 0;

      width: 31px;
      height: 31px;

      transition: all $base-duration;
      text-align: center;

      border: 2px solid lighten($gray-dark, 20%);
      border-radius: 100%;
      background-color: transparent;
      &:before {
        font-size: 19px;
        line-height: 1;

        position: absolute;
        top: 5px;

        display: inline-block;

        color: lighten($gray-dark, 20%);
        background: transparent;
      }
      &:hover {
        border: 2px solid $gray-dark;
        &:before {
          color: $gray-dark;
        }
      }
    }
    .owl-prev {
      //left: -65px;
      &:before {
        font-family: 'FontAwesome';

        right: 8px;

        content: '\f053';
      }
    }
    .owl-next {
      //right: -65px;
      &:before {
        font-family: 'FontAwesome';

        left: 8px;

        content: '\f054';
      }
    }
  }
}

section {
  //padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

.content-wrapp {
  margin-bottom: 40px;
}

h1.gray-title {
  font-size: 18px;
  font-weight: bold;

  text-transform: uppercase;
}
.gray-title {
  display: inline-block;

  width: 100%;
  margin-bottom: 25px;
  padding: 20px;

  background-color: #f2f4f5;
}

.icon-wrapp {
  line-height: 85px;

  display: inline-block;

  box-sizing: border-box;
  width: 85px;
  height: 85px;
  margin: 0 auto 20px auto;

  text-align: center;
  vertical-align: middle;

  border: 1px solid $gray-dark;
  border-radius: 100%;
  img {
    display: inline-block;
    float: none;

    margin: auto;
  }
}

.advantages-about {
  margin-bottom: 20px;
  .section-title {
    margin-bottom: 40px;
  }
  .icon {
    font-size: 14px;

    margin-bottom: 25px;
  }
}

.mission-about {
  margin-bottom: 20px;
  .section-title {
    margin-bottom: 25px;
  }
  .mission {
    font-size: 14px;

    margin-bottom: 20px;

    color: #8d8d8d;
    .img-wrapp {
      margin-bottom: 14px;
    }
  }
}


.content-wrapp {
  margin-bottom: 40px;
}
.section__bg {
  min-height: 850px;
  padding-bottom: 4vw;

  background: url('../img/portfolio_slide2.jpg') no-repeat center center;
  background-size: cover;
  &:before {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: -1px;
    left: 0;

    display: inline-block;

    height: 0;

    content: '';

    border: 100vw solid transparent;
    border-right: 100vw solid white;
    border-bottom: 3vw solid #fff;
  }
}


.section-1 {
  position: relative;
  //margin-top: -194px;

  padding-top: 250px;

  text-align: center;
  .top-title {
    background-color: rgba(#fff, .8);
  }
  .white-bg {
    background-color: rgba(#fff, .6);
  }
  h3 {
    font-weight: bold;

    display: inline-block;

    text-transform: uppercase;
    &.white-bg,
    &.top-title {
      display: inline-block;

      width: 100%;
      padding: 23px;

      text-align: center;
    }
  }
  form {
    .wpcf7-response-output,
    .wpcf7-validation-errors {
      font-weight: bold;

      padding: 30px;

      background-color: rgba(#fff, .8);
    }
    .white-bg {
      padding: 20px;

      text-align: center;
      h3 {
        width: 100%;

        text-align: center;
      }
    }
    .input_wrapp {
      margin-bottom: $small-spacing;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.section-title {
  font-size: 53px;
  line-height: .8;

  position: relative;

  display: inline-block;
  float: none;

  margin-bottom: 15px;
  &:before,
  &:after {
    position: absolute;
    top: 49%;

    display: none;

    width: 88px;
    height: 1px;

    content: '';

    background-color: #d6d6d6;
  }
  &:before {
    right: 102%;
  }
  &:after {
    left: 102%;
  }
}
.red-subtitle {
  font-size: 13px;
  line-height: 1.4;

  display: block;

  margin-bottom: 15px;

  text-align: left;

  color: $red;
}

.two-bloks {
  padding-top: 35px;
  padding-bottom: 50px;

  text-align: center;
}

.reviews {
  text-align: center;
  .red-subtitle {
    text-align: center;
  }
  .photo-wrapp {
    line-height: 85px;

    display: inline-block;
    overflow: hidden;

    width: 85px;
    height: 85px;
    margin: 0 auto;

    text-align: center;
    vertical-align: middle;

    border: 1px solid $gray-dark;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .content {
    text-align: left;
  }
  .name {
    font-weight: bold;
  }
}


.advantages {
  h2 {
    font-size: 53px;
    line-height: .7;

    margin-bottom: 25px;
  }
  .icon {
    margin-bottom: 10px;
    img {
      margin-bottom: 10px;
    }
  }
  .red-button {
    font-size: 16px;

    max-width: 300px;
  }
}





.red-line {
  padding: 40px 0;

  text-align: center;

  color: #fff;
  background: $red;
  h2 {
    font-size: 45px;
  }
}


.before-after {
  h2 {
    font-size: 53px;

    margin-bottom: 0;
  }
  .photo_before,
  .photo_after {
    position: relative;

    display: inline-block;
    float: left;

    width: 50%;
    max-width: 959px;
    height: 41vw;
    max-height: 812px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .after,
    .before {
      font-size: 17px;

      position: absolute;
      top: 40px;

      display: inline-block;

      width: 150px;
      padding: 10px;

      text-align: center;
    }
    .before {
      right: -5px;

      color: #fff;
      background-color: #000;
    }
    .after {
      left: -5px;

      color: #fff;
      background-color: $red;
    }
  }
  .photo_before {
    border-right: 5px solid #fff;
  }
  .photo_after {
    text-align: center;

    border-left: 5px solid #fff;
    .red-button {
      position: absolute;
      bottom: 5%;
      left: 50%;

      display: inline-block;

      width: 35%;
      min-width: 150px;

      text-align: center;
    }
  }
}

.slider-section {
  margin-bottom: 45px;
  padding-top: 45px;

  text-align: center;
  /*   .section-title {
  text-align: center;
} */
  .red-subtitle {
    display: block;

    text-align: center;
  }
  .two-slides {
    //
  }
}

.cont-form {
  //min-height: 250px;
  padding-top: 50px;
  padding-bottom: 40px;

  text-align: center;

  background-image: url('');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  h2 {
    font-size: 35px;

    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  .input_wrapp {
    margin-bottom: 15px;
  }
}


.looper {
  margin-bottom: 50px;

  text-align: left;
  .feature-img {
    display: inline-block;
    overflow: hidden;

    width: 100%;
    margin-bottom: 25px;
    img {
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
    }
  }
  .date {
    position: relative;

    display: block;

    margin-bottom: 20px;
    padding-left: 20px;

    color: #c5c4c4;
    &:before {
      font-family: 'FontAwesome';

      position: absolute;
      left: 0;

      display: inline-block;

      content: '\f073';
    }
  }
  .inner-title {
    font-weight: bold;

    display: block;

    margin-bottom: 20px;
    padding-left: 10px;
  }
  .name {
    font-size: 25px;

    display: block;

    margin-bottom: 20px;
  }
  p {
    color: #777;
  }
  .post-link {
    position: absolute;
    bottom: 10px;
    left: 25px;

    display: inline-block;&:before {
      position: absolute;
      right: -20px;

      display: inline-block;

      content: '+';
    }
  }
}


.news-section {
  padding: 50px 0;

  text-align: center;
  h2 {
    margin-bottom: 40px;
  }
  .looper {
    padding-bottom: 20px;
    p {
      margin-bottom: 20px;
      padding-left: 10px;
    }
    &:after {
      position: absolute;
      right: 15px;
      bottom: 0;
      left: 15px;

      display: inline-block;

      height: 2px;

      content: '';

      background-color: $red;
    }
  }
}


.customers-section {
  padding: 50px 0;

  text-align: center;
  h2 {
    margin-bottom: 40px;
  }
}


.tabs_slider_section {
  padding-bottom: 50px;
  .tabs {
    padding-top: 48px;
  }
  .tab-slider {
    //padding-left: 0;
  }
}

.brand-slider-section {
  .brands_wrapp {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.purity {
  .red-subtitle {
    text-align: center;
  }
}

.red {
  color: $red;
}
.project-archiv {
  position: relative;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .content {
    height: 785px;
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    h2 {
      font-size: 35px;
      font-weight: bold;

      display: inline-block;

      width: 100%;
      margin: 0 -15px;
      padding-top: 20px;
      padding-bottom: 20px;

      text-align: center;
      text-transform: uppercase;

      background-color: #f2f4f5;
    }
    .red-button {
      position: absolute;
      right: 50%;
      bottom: 50px;
      left: 50%;

      width: 422px;
      //max-width: 100%;
      margin: 0 -211px;
      padding: 15px 0;
    }
  }
}

footer {
  padding-top: 35px;
  padding-bottom: 35px;

  color: #fff;
  background-color: #1c1c1c;
  .footer_nav {
    //padding-bottom: 20px;
  }
  .footer_menu {
    font-size: 14px;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;

    text-align: center;

    flex-flow: row wrap;
    justify-content: space-between;
    a {
      display: inline-block;

      text-align: left;

      color: #fff;
      &:hover {
        color: $red;
      }
    }
    li {
      //margin-right: auto;
      //margin-left: auto;
      text-align: left;
    }
    > li {
      display: inline-block;

      min-width: 150px;
      padding-bottom: 20px;
      > a {
        font-weight: bold;

        margin-bottom: 25px;
      }
    }
    .sub-menu {
      li {
        display: block;

        margin-bottom: 8px;
        a {
          //
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
  }
  .socials {
    text-align: center;
    .soc-item {
      line-height: 27px;

      display: inline-block;
      float: none;

      width: 27px;
      height: 27px;
      margin: 0 7px;

      vertical-align: middle;

      color: #fff;
      border: 2px solid #fff;
      border-radius: 50%;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
      &:hover {
        color: $red;
        border-color: $red;
      }
    }
    i {
      position: relative;
      top: -2px;
      left: 0;
    }
  }
  .footer-tel {
    line-height: 27px;

    text-align: right;
    vertical-align: middle;
    .tel {
      color: #fff;
      &:hover {
        color: $red;
      }
    }
  }
}

@media (min-width: 992px) {
  .tabs__content {
    margin-bottom: 60px;
    .tab-slider {
      .owl-nav {
        position: absolute;
        bottom: -70px;
        left: 50%;

        width: 82px;
        margin-left: -41px;
      }
    }
  }
  .section-title {
    &:before,
    &:after {
      display: inline-block;
    }
  }

  .video_wrapp {
    iframe {
      display: inline-block;

      height: 100%;
    }
  }
  .flex-row {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    //justify-content: flex-start;

    flex-flow: row wrap;
    align-content: stretch;
  }
}

@media (min-width: 768px) {
  .row-flex {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    //justify-content: flex-start;

    flex-flow: row wrap;
    align-content: stretch;
  }
  .left-bg {
    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: -99px;
      left: -9999px;

      display: inline-block;

      content: '';

      background-color: #f2f4f5;
    }
  }
  .right-bg {
    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: -9999px;
      bottom: -99px;
      left: 0;

      display: inline-block;

      content: '';

      background-color: rgba(#f2f4f5,.5);
    }
  }
  .nav__header {
    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: -9999px;
      bottom: 0;
      left: -9999px;

      display: inline-block;

      content: '';

      background-color: #000;
    }
  }
}

@media (max-width: 768px) {
  header {
    overflow: visible;

    background-color: rgba(#fff, .5);
    .logo {
      text-align: center;
    }
  }
  .nav__header {
    position: absolute;
    z-index: 9;
    top: 100%;
    right: -15px;
    left: -15px;

    transition: all .3s;
    .headnav {
      position: relative;

      display: block;
      //width: 0;

      margin: 0;
      padding-bottom: 10px;

      transition: all .3s;

      background-color: #000;
      li {
        display: block;

        width: 100%;
        //height: 0;
        margin: 0;
        padding: 0;

        transition: all .3s;
        text-align: center;
        a {
          font-size: 20px;
          line-height: 60px;

          display: inline-block;

          width: 100%;
          height: 60px;
          margin: 0;
          padding: 0;

          vertical-align: middle;
        }
        &:hover,
        &.current-menu-item {
          a {
            //color: darken($gray-dark, 20%);
          }
        }
      }
    }
    &:not(.open) {
      line-height: 0;

      height: 0;
      min-height: 0;

      background: #000;
      .headnav {
        line-height: 0;

        height: 0;
        margin: 0;
        padding: 0;
        li {
          line-height: 0;

          height: 0;
          margin: 0;
          padding: 0;
          a {
            font-size: 0;
            line-height: 0;

            height: 0;

            color: transparent;
            border: none;
          }
        }
      }
    }
  }
  footer {
    padding-top: 5px;
    .footer_menu {
      margin-bottom: 10px;
      > li {
        border-bottom: 1px solid #fff;
        > a {
          font-size: 18px;

          text-transform: uppercase;
        }
      }
      li {
        display: inline-block;
        overflow: hidden;

        width: 100%;
        margin: 0;
        padding: 0 0 0 15px;

        transition: all .3s;
        a {
          font-size: 16px;
          line-height: 1.2;
          line-height: 50px;

          display: inline-block;

          height: 50px;
          margin: 0;
          padding: 0;

          vertical-align: middle;
          white-space: nowrap;
        }
      }
      .sub-menu {
        min-height: 0;
        max-height: 999px;

        transition: all .3s;
        li {
          height: 40px;
          margin: 0;
          a {
            line-height: 40px;

            height: 40px;
          }
          &:after {
            line-height: 40px;

            height: 40px;
          }
        }
      }
      .menu-item-has-children {
        padding-right: 60px;
        &:after {
          font-family: 'Fontawesome';
          line-height: 50px;

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;

          display: inline-block;

          width: 50px;
          height: 50px;
          margin: 0;
          padding: 0 ;

          content: '\f078';
          cursor: pointer;
          transition: all .3s;
          text-align: center;
          vertical-align: middle;
          pointer-events: all;

          color: #fff;
        }
        &.open {
          &:after {
            content: '\f077';

            color: $red;
          }
        }
        &:not(.open) {
          .sub-menu {
            overflow: hidden;
            //height: 0;

            transition: all .3s;
            li {
              height: 0;
            }
            a {
              line-height: 0;

              overflow: hidden;

              height: 0;
            }
          }
        }
      }
    }
  }
}

@media only mobile {
  .slides-content {
    .ithem {
      .slide-cont_wrapp {
        position: relative;

        display: inline-block;

        margin: 0;
        padding: 0;
        .slide-cont {
          display: inline-block;

          width: 100%;
          padding: 15px;

          opacity: 1;
          border-bottom: 2px solid $red;
          background: rgba(#fff, .8);
        }
        &:hover {
          .slide-cont {
            opacity: 1;
          }
        }
      }
    }
  }
}
